.highlighted {
    background-color: hsla(44, 100%, 63%, 0.64);
    color: black;
    padding: 0px 5px;
    /* border: black 2px; */
    border-radius: 3px;
    height: .9rem;
}

.note {
    background-color: rgb(180, 255, 255);
    padding: 10px 5px;
    color: black;
    border-left: 8px solid #2196F3;
}

.todo {
    background-color: #ffcccc;
    padding: 5px;
    color: #ff0000;
    border-left: 8px solid #ff0000;
}

.todo::before {
    content: "\26A0";/* Unicode character for exclamation mark */
    display: inline-block;
    margin-right: 5px;
    font-size: 16px;
}